:root {
    --primary-color: #333;
    --secondary-color: #555;
    --background-color: #f4f4f4;
    --text-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    text-align: center;
}

.upper-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    width: 48%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
}

.info-box {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background: var(--secondary-color);
}

.lower-section {
    position: relative;
}

.result-container {
    background: #fff;
    border: 1px solid var(--primary-color);
    padding: 10px;
    margin-top: 20px;
    width: 100%; /* Assicurati che la cornice abbia la stessa larghezza del contenitore */
    box-sizing: border-box; /* Include padding e bordo nella larghezza totale */
}

.result-box {
    background: #F5F5F5;
    padding: 20px;
    border: 1px solid #ddd;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box; /* Include padding e bordo nella larghezza totale */
}

.toolbar {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.toolbar-text {
    font-size: 12px; /* Carattere piccolo */
    color: var(--primary-color);
}

.copy-button {
    width: 28px;
    height: 28px;
    background: #fff; /* Sfondo bianco */
    color: #000; /* Disegno nero */
    /* border: 1px solid var(--primary-color);  Aggiungi un bordo per migliorare la visibilità */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-button .material-icons {
    font-size: 24px;
}

.copy-button:hover {
    background: #f0f0f0; /* Cambia il colore di sfondo al passaggio del mouse */
}

.new-session-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 8px;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    margin: 20px auto;
}

.new-session-button .material-icons {
    font-size: 24px;
    margin-right: 8px; /* Spazio tra l'icona e il testo */
}

.new-session-button:hover {
    background: var(--secondary-color);
}
